
.env
**/.env
!**/.env.example
**/*.pfx
**/*.pem
**/Properties/secrets.json


docker-compose.override.yml
**/docker-compose.override.yml
*.envrc


**/bin/
**/obj/
**/out/
backend/logs/
*.user
*.userosscache
*.suo
*.cache
.vs/
.idea/


TestResults/
coverage/
*.trx
*.coverage


node_modules/
dist/
.expo/


*.log
tmp/
temp/


.DS_Store
Thumbs.db

*.md
**/*.sh
