# Used by docker compose in this folder. Escape $ as $$ if needed.

POSTGRES_PASSWORD=Tf_Postgres_26!ReplaceMe

REDIS_PASSWORD=Tf_Redis_26!ReplaceMe

KAFKA_CLIENT_USERS=ticketflow
KAFKA_CLIENT_PASSWORDS=Tf_Kafka_26!ReplaceMe
SEQ_ADMIN_PASSWORD=Tf_SeqAdmin_26!ReplaceMe

IDENTITY_LOGIN_REQUESTS_PER_MINUTE=100000
IDENTITY_REGISTER_REQUESTS_PER_MINUTE=100000

SIMULATION_ENABLE_LOAD_SCENARIO=false
SIMULATION_LOAD_USERS=40
SIMULATION_LOAD_BATCH_SIZE=8
SIMULATION_LOAD_PARALLELISM=3
SIMULATION_LOAD_BATCH_PAUSE_SECONDS=2
SIMULATION_LOAD_REGISTER_RETRY_COUNT=3

TICKETFLOW_REDIS_CONNECTION=localhost:6379,password=Tf_Redis_26!ReplaceMe,abortConnect=false
TICKETFLOW_KAFKA_BOOTSTRAP=localhost:9092
TICKETFLOW_KAFKA_SECURITY_PROTOCOL=SASL_PLAINTEXT
TICKETFLOW_KAFKA_SASL_MECHANISM=PLAIN
TICKETFLOW_KAFKA_SASL_USERNAME=ticketflow
TICKETFLOW_KAFKA_SASL_PASSWORD=Tf_Kafka_26!ReplaceMe

INTERNAL_SERVICE_KEY=Tf_InternalKey_26!ReplaceMe
