# Used by docker compose in this folder. Escape $ as $$ if needed.

POSTGRES_PASSWORD=ticketflow-dev-local

REDIS_PASSWORD=ticketflow-redis-dev-change-me

KAFKA_CLIENT_USERS=ticketflow
KAFKA_CLIENT_PASSWORDS=ticketflow-kafka-dev-change-me
SEQ_ADMIN_PASSWORD=ticketflow-seq-admin-dev-change-me

TICKETFLOW_REDIS_CONNECTION=localhost:6379,password=ticketflow-redis-dev-change-me,abortConnect=false
TICKETFLOW_KAFKA_BOOTSTRAP=localhost:9092
TICKETFLOW_KAFKA_SECURITY_PROTOCOL=SASL_PLAINTEXT
TICKETFLOW_KAFKA_SASL_MECHANISM=PLAIN
TICKETFLOW_KAFKA_SASL_USERNAME=ticketflow
TICKETFLOW_KAFKA_SASL_PASSWORD=ticketflow-kafka-dev-change-me

INTERNAL_SERVICE_KEY=dev-internal-key-change-me
